<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{% static "timeline.css" %}" rel="stylesheet">
    <title>{{ data.name }}</title>

    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        $(document).ready(function () {
            $("#wake_up_btn").click(function () {
                var content = $("#wake_up_input").val();
                if(!content) {
                    alert("填点啥吧，不然我咋知道你有没有睡醒啊。");
                    return;
                }
                $.post("/ticks/wakeup/", {"content": content}, function (data) {
                    if(data["status"] === "ok") {
                        location.reload();
                    } else {
                        alert(data["message"]);
                    }
                })});
            $("#sleep_btn").click(function () {
                var content = $("#sleep_input").val();
                if(!content) {
                    alert("睡觉了，说点啥吧？");
                    return;
                }
                $.post("/ticks/sleep/", {"content": content}, function (data) {
                    if(data["status"] === "ok") {
                        location.reload();
                    } else {
                        alert(data["message"]);
                    }
                })});
                $("#other_btn").click(function () {
                var content = $("#other_input").val();
                if(!content) {
                    alert("你想说啥啊。。");
                    return;
                }
                $.post("/ticks/other/", {"content": content}, function (data) {
                    if(data["status"] === "ok") {
                        location.reload();
                    } else {
                        alert(data["message"]);
                    }
                })});

        })
    </script>
</head>

<body>

<!--模态框-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">打卡内容</h4>
            </div>
            <div class="modal-body" >
                <div class="row" style="padding: 20px">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control" id="wake_up_input">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="wake_up_btn" type="button">起床打卡</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 20px">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control" id="sleep_input">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="sleep_btn" type="button">睡觉打卡</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 20px">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control" id="other_input">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" id="other_btn" type="button">其它打卡</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Ticks</a></div>
    </div>
</nav>
<div class="container">
    <div id="timeline">
        <div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#" data-toggle="modal" data-target="#add">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#"><span class="glyphicon glyphicon-adjust"></span></a>
            </div>
        </div>

        {% for item in data %}
            <div class="row timeline-movement">
                <div class="timeline-badge">
                    <div class="timeline-balloon-date-day">{{ item.date.day }}</div>
                    <div class="timeline-balloon-date-month">{{ item.date.month }}</div>
                </div>
                {% if item.self %}
                <div class="col-sm-6  timeline-item">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="timeline-panel credits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{{ item.title }}</span></li>
                                    <li><span class="causale">{{ item.content }} <br> from {{ item.name }}</span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                        {{ item.time.hour }}:
                                        {{ item.time.minute }}:
                                        {{ item.time.second }}
                                    </small></p> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6  col-sm-offset-6 timeline-item">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="timeline-panel debits">
                                <ul class="timeline-panel-ul">
                                    <li><span class="importo">{{ item.title }}</span></li>
                                    <li><span class="causale">{{ item.content }} <br> from {{ item.name }}</span> </li>
                                    <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                        {{ item.time.hour }}:
                                        {{ item.time.minute }}:
                                        {{ item.time.second }}
                                    </small></p> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endfor %}

        <!--
        <div class="row timeline-movement">
            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">15</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>
            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">起床打卡</span></li>
                                <li><span class="causale">机智的文文起床了！</span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19:25:30 </small></p> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">起床打卡</span></li>
                                <li><span class="causale">弱智的倩倩起床了！</span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 19:30:20 </small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
</body>
</html>