{% extends "ticks/base.html" %}
{% block title %}待办事项{% endblock %}

{% block resource %}
    <style>
    </style>
{% endblock %}

{% block js %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });

        $(document).ready(function () {
            $("#add-my-list").click(function () {
                var t = $("#my-todo-item").val();
                if (!t) {
                    alert("你必须写点东西！");
                    return;
                }
                $.post("/ticks/additem/", {"content": t}, function (data) {
                    if(data["status"] === "ok") {
                        location.reload();
                    } else {
                        alert(data["message"]);
                    }
                });
            });

            $("#add-your-list").click(function () {
                alert("暂时不能为对方增加内容！");
            });

            $("input[type='checkbox']").click(function () {
                var id = this.id;
                var checkbox = this;
                $.post("/ticks/done/", {"item_id": id}, function (data) {
                    if(data["status"] === "ok") {
                        location.reload();
                    } else{
                        checkbox.checked = false;
                        alert(data["message"]);
                    }
                })
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% include "ticks/nav.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3>我的待办事项</h3></div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="text" class="form-control" id="my-todo-item">
                            <span class="input-group-btn"><button class="btn btn-default" id="add-my-list">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button></span>
                        </div>
                        <hr>
                        <div id="my-todo-container">
                            {% for item in my_item %}
                            <div class="checkbox checkbox-primary">
                                <input id="{{ item.id }}" type="checkbox">
                                <label for="{{ item.id }}">{{ item.content }}
                                    <span class="label label-warning">@{{ item.create_time | date:"Y-m-d" }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div> <!--todo container-->
                    </div>
                </div> <!--panel-->
            </div> <!--col-->

            <div class="col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3>对方的待办事项</h3></div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn"><button class="btn btn-default" id="add-your-list">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button></span>
                        </div>
                        <hr>
                        <div id="your-todo-container">
                            {% for item in your_item %}
                            <div class="checkbox checkbox-primary">
                                <input id="{{ item.id }}" type="checkbox">
                                <label for="{{ item.id }}">{{ item.content }}
                                    <span class="label label-warning">@{{ item.create_time | date:"Y-m-d" }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div><!--todo container-->
                    </div>
                </div> <!--panel-->
            </div> <!--col-->

        </div> <!--row-->

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3>我最近完成的工作</h3></div>
                    <div class="panel-body">
                        <div id="my-finished-container">
                            {% for item in my_finished %}
                            <div class="checkbox checkbox-primary">
                                <input id="{{ item.id }}" type="checkbox" disabled="disabled" checked="checked">
                                <label for="{{ item.id }}">{{ item.content }}
                                    <span class="label label-success">@{{ item.finished_time | date:"Y-m-d" }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div><!--my finished container-->
                    </div>
                </div> <!--panel-->
            </div> <!--col-->

            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3>对方最近完成的工作</h3></div>
                    <div class="panel-body">
                        <div id="your-finished-container">
                            {% for item in your_finished %}
                            <div class="checkbox checkbox-primary">
                                <input id="{{ item.id }}" type="checkbox" disabled="disabled" checked="checked">
                                <label for="{{ item.id }}">{{ item.content }}
                                    <span class="label label-success">@{{ item.finished_time | date:"Y-m-d" }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div><!--your finished container-->
                    </div>
                </div> <!--panel-->
            </div> <!--col-->

        </div> <!--row-->
    </div> <!--container-->
{% endblock %}